[2017-05-12 11:33] sektonic opened #4 "The g-recaptcha-response field is required"
I get error when submit button like "The g-recaptcha-response field is required"

[2017-05-13 02:56] albertcht commented on #4
That means your captcha request didn't send to google properly. Did you see the badge logo on the right-bottom side? If not, you might render your captcha in a wrong way. You can post the code how you render your captcha in your view that I can have more info about your issue.

[2017-05-15 19:04] kmg101 commented on #4
I'm getting the same error and I do see the badge logo on the right-bottom side. Seems like something is missing

[2017-05-16 02:05] albertcht commented on #4
Can you dump the request inputs before validation? Check if there's a `g-recaptcha-response` parameter first. If not, can you also post your full html of the form including how you render captcha section here? I will add debug feature to the next release to help users figure out if they render the captcha correctly.

[2017-05-16 09:28] arminneman opened #5 "Uncaught Error: The bind parameter must be an element or id recaptcha__en.js:380"
[code]

the g-recaptcha-response in $_REQUEST comes back empty as well.

[2017-05-16 15:02] albertcht commented on #5
thanks for your bug report! you help me find a fatal bug in the render function. now this bug is fixed in v1.2. you can update your package and try it again. feel free to open another issue if you have other questions :)

[2017-05-16 15:04] albertcht commented on #4
Hi, this issue should be fixed in newer version v1.2. can you update your package and try it again? thanks!

[2017-05-16 20:32] kmg101 commented on #4
Thanks, I will update and let you know

[2017-05-16 21:01] arminneman commented on #5
Hi Albertcht, thanks for the quick reply. The binding error is gone. You seem to have fixed that part. However the g-recaptcha-response still comes in empty. I hope you can work it out with the new details.

<form role="form" method="POST" action="https://auth.dev/login" class="form-horizontal"><input type="hidden" name="_token" value="KHLzvZb6BOA61MG4xFefWu6jWSTEL8KDB07oWqG7"> <div id="_g-recaptc

[2017-05-17 00:31] albertcht commented on #5
thanks one more time, i have fixed this bug. the version code is still v1.2. you can update your package and try it again :)

[2017-05-17 07:29] arminneman commented on #5
I have actually updated the package. The formatting is a bit messy, but if you would compare the two pieces of code I provided in my last post you can see that the output of your package is different now. Just to be sure I have also done a clear and update afterwards. But the problem remains.

C:\laragon\www\Auth>composer update
Loading composer repositories with package information
Updating depen

[2017-05-17 08:21] albertcht commented on #5
check your composer.lock file, does the reference code equal to `34586edba0eaa6b73bdce6212a73e5c18c3310e5` of albertcht/invisible-recaptcha? if not, delete composer.lock and run `composer install`

[2017-05-17 08:29] arminneman commented on #5
"dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/albertcht/invisible-recaptcha/zipball/34586edba0eaa6b73bdce6212a73e5c18c3310e5",
                "reference": "34586edba0eaa6b73bdce6212a73e5c18c3310e5",
                "shasum": ""
            },

[2017-05-17 08:56] albertcht commented on #5
ok, you could open the browser console, and then type those following variables to observe if they are correctly bound:
_captchaForm
_captchaSubmit
and execute `grecaptcha.execute();` to see if your form will be submited.

[2017-05-17 09:21] arminneman commented on #5
yes, that works, It just doesn't work if I hit the submit button instead.

_captchaForm
<form role=​"form" method=​"POST" action=​"http:​/​/​auth.dev/​login" class=​"form-horizontal">​…​</form>​
_captchaSubmit
<button type=​"submit" class=​"btn btn-primary">​
                                    Login
                                ​</button>​

and grecaptcha.execute(); will submit the form.

[2017-05-17 09:41] albertcht commented on #5
if you're using chrome, also type `getEventListeners(_captchaSubmit)` in the console to check if the click event attached to your submit button

[2017-05-17 09:44] arminneman commented on #5
[code]

[2017-05-17 09:50] albertcht commented on #5
all right, let me clarify your issue again...
1. will the form be submitted after you click your submit button now?
2. if yes, will you get the `g-recaptcha-response` request from the backend?
3. if you trigger `grecaptcha.execute()` manually, everything works fine?

[2017-05-17 09:52] arminneman commented on #5
1/2. Form submits, but no g-recaptcha-response, causing validation to fail.
3.  Yes. This works.

[2017-05-17 10:03] albertcht commented on #5
can you go check your `vendor/albertcht/invisible-recaptcha/src/InvisibleReCaptcha.php` to see what `line 87` looks like?

[2017-05-17 10:04] arminneman commented on #5
[code]

[2017-05-17 10:07] albertcht commented on #5
ok, i found the problem. your file is still in old version due to unknown reason. delete your composer.lock and vendor folder. run composer install again.

[2017-05-17 10:08] arminneman commented on #5
no, I just copy pasted from the wrong project :) That's why i removed my comment right away =) But that's not the problem.

[2017-05-17 10:13] albertcht commented on #5
no, it's the old code. in newer version. it should be
[code]
on line87

[2017-05-17 10:18] arminneman commented on #5
yes, sorry you're right. I did copy paste from the old project, that's why I was confused. I copy pasted right from the source now and that seems to work :). Will try to get composer to get the right files. Thanks alot for your time.

[2017-05-17 10:22] #5 closed

[2017-05-17 10:24] albertcht commented on #5
no problem, thanks for your bug reporting as well 👍

[2017-05-26 14:10] subdesign opened #8 "Little suggestion"
Use **PHP_EOL** instead of **"\n"** in `InvisibleReCaptcha.php` for better OS compatibility.

[2017-05-26 15:48] albertcht commented on #8
Yap, you're right. I will substitute `\n` with  `PHP_EOL` in the next release. thanks for your suggestion :)

[2017-05-27 13:09] albertcht commented on #4
hi, there. I close this issue because this bug should have been fixed.
you can open another issue if you have other questions, thanks.

[2017-05-27 13:09] #4 closed

[2017-05-28 06:30] albertcht commented on #8
This feature has been applied in new version v1.3

[2017-05-28 06:30] #8 closed

[2017-06-09 02:12] BAKTETE opened #12 "cURL error 60: SSL certificate problem"
unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

[2017-06-09 06:47] ConsoleTVs commented on #12
I don't think you can use a self-signed ssl with google while developing

[2017-06-09 10:21] BAKTETE commented on #12
i'm not using any self-signed ssl

[2017-06-09 11:45] BAKTETE commented on #12
it's working fine now i'va updated curl in php.ini to use cacert.pem
`curl.cainfo ="C:\wamp64\cacert.pem"`

link to `cacert.pem` [https://curl.haxx.se/ca/cacert.pem](url)

[2017-06-09 11:48] BAKTETE opened #13 "@captcha($lang = null) ignores all input fields width required"
`<input type="text" value="{{ old('email') }}" name="email" placeholder="Email *" class="form-control input-md form-group" required> `

`@captcha($lang = null)` submit form directly without taking the required fields in consideration

[2017-06-09 12:05] ConsoleTVs commented on #12
Ah sure, nice!

[2017-06-09 13:15] albertcht commented on #13
This is because the submit button will be bound to a recaptcha function via click listener once rendered. In recaptcha function there's a preventDefault() so it skips javaScript validation API directly.
In the commit [4257a97](https://github.com/albertcht/invisible-recaptcha/commit/4257a9726f03b07cb7a27fc861ed9568939b4314), this bug should be fixed because I change the binding listener to a submit

[2017-06-09 13:24] BAKTETE commented on #13
it's working now thank you for this amazing package

[2017-06-09 13:31] albertcht commented on #13
You're welcome ^^

[2017-06-09 13:31] #13 closed

[2017-06-11 03:03] navise opened #14 "Two captcha protected forms on a single page"
There's a scenario where I have two forms on a page. I want to protect both the forms with invisible captcha. Both forms are hidden as the page loads and are displayed in a lightbox on a user action. How do I use this plugin in this case?

[2017-06-11 07:21] albertcht commented on #14
Maybe you can try to render two captchas in each submit form.

[2017-06-12 23:34] dcaldessa opened #15 "A way to hide the site key"
Greetings,

I am using your package in my laravel project it is working great. But I do have one question is there a way to hide the site key from inspection. Cause when I inspect my registration page using google chrome I can see my sitekey there, and well do you really want it to be known to the whole world? So that is why I am asking if there is a way to encode or hide it from view?..

thanks

[2017-06-13 15:02] #12 closed

[2017-06-13 15:11] albertcht commented on #15
There's no need to hide your site key at all because it is designed to be public. Someone who stole
 your site key can't do anything. You need to use your the other secret key to validate the captcha response. And your secret key is stored on your server side. It's safe.
You can also go to the admin console and set your domain to the whitelist. In that way, your captcha  can only be rendered on yo

[2017-06-16 16:43] #15 closed

[2017-06-16 16:49] dcaldessa opened #16 "trigger client side validation before the recaptcha validation."
Hello again,

Invoking the invisible reCAPTCHA challenge after client side validation. I want to know if this can be done from within your package ?
`https://developers.google.com/recaptcha/docs/invisible` , I tried the example at the bottom of the page but it is not triggering my client side validation.. I am using Parsley.js with the floating lables example for my validation. Just need to know i

[2017-06-17 00:21] dcaldessa commented on #16
Issue has been resolved. !!

[2017-06-17 00:21] #16 closed

[2017-06-18 14:39] albertcht commented on #14
This package implements only the most common case - single recaptcha form in one page, but you can write your client side code yourself. The server side validation still works in your case.
You can refer to this article: [How to add multiple invisible recaptcha in single page?](https://stackoverflow.com/questions/43231850/how-to-add-multiple-invisible-recaptcha-in-single-page) to give it a try.

[2017-06-22 18:49] ddensted opened #19 "Captcha not loading in IE 11"
I'm running into an issue where the Captcha does not load in IE so on form submission it always returns "The g-recaptcha-response field is required". This problem is exclusive to IE and when viewing the console in IE there is an error message. `SCRIPT5: Access is denied.`

[2017-06-23 19:20] selyakovadim opened #21 "Does not work browser validation on input fields"
Like required, pattern, etc.
Possible Solution: listen event ```_captchaForm.submit()``` instead of ```_captchaSubmit.click()```

[2017-06-24 02:56] albertcht commented on #21
Hi @selyakovadim, you can refer to this issue: #13
I haven't released that commit yet, but you can install the latest version via composer.
And I will also release a new version recently.

[2017-06-24 06:49] #21 closed

[2017-06-24 13:10] qorieb opened #22 "Curl Error"
i got this error cURL error 60: SSL certificate problem: unable to get local issuer certificate. its related to gazzlehttp handle, but i've tried all version of gazzle still getting error

[2017-06-24 13:18] #22 closed

[2017-06-26 01:50] marcelogarbin opened #24 "Incompatibility with laravel-jsvalidation"
Laravel: 5.4
invisible-recaptcha: "dev-master@dev";
with package: https://github.com/proengsoft/laravel-jsvalidation

Using laravel-jsvalidation, when clicking the submit button the form is sent, even the fields are required. If I comment on the invisible-recaptcha code, the form behaves normally.

[2017-06-29 14:58] scottzirkel opened #25 "Installing on Laravel 5.5"
Getting the following issue when trying to install on the latest Laravel 5.5

[code]

[2017-06-29 15:31] albertcht commented on #25
Hi @scottzirkel
Please install the newest version in master branch.
[code]
I will release a new stable version with support for Laravel 5.5 recently.

[2017-06-29 15:33] scottzirkel commented on #25
Worked great, thank you very much.

[2017-06-29 15:53] albertcht commented on #25
@scottzirkel anytime

[2017-06-29 16:34] albertcht commented on #24
@marcelogarbin
Because the js rendered by this package will listen to the submit event, and do the captcha validation before submiting your form. However, in your case, your other package might listen to the submit event as well, but the control has been taken to my listen function.
You can try to implement a customization function to check if it works.
[code]

[2017-06-29 19:48] marcelogarbin commented on #24
Hi @albertcht , that worked! The form was validated without being sent, it was only sent after completing the information in the fields.

I tested it on Chrome and Firefox.

Is this code in the body of the page (added manually), or is it possible to do something so that both plugins work accordingly without conflict?

Thank you very much for your attention.

[2017-07-02 06:21] mwuhahaha opened #26 "Multiple recaptchas (on multiple forms) on a single page"
When adding

`@captcha()`

to multiple forms on a single page, the console shows an error:

[2017-07-02 09:05] albertcht commented on #26
Hi @mwuhahaha
Please see #14

[2017-07-02 09:07] mwuhahaha commented on #26
Thanks, don't know how I missed it.

[2017-07-02 09:14] albertcht commented on #19
hi @ddensted
This bug should be fixed in the newest release version v1.5. Can you update your package and try it again?

[2017-07-02 15:45] dorianboulch opened #28 "Class blade.compiler does not exist"
Hi
I'm running Laravel v5.2 and when I execute ``composer update`` I have this stacktrace :
[code]

If I remove the ``InvisibleReCaptchaServiceProvider`` from my providers, I can update successfuly.

[2017-07-03 13:27] albertcht commented on #28
hi @dorianboulch
This bug is fixed in the latest release v1.6. Can you update your package and try it again?

[2017-07-03 16:38] mkarnicki opened #30 "Provide way to disable in tests"
Hi, thanks for you sweet package.

Can we provide a way to disable this in tests? I tried the following:
`app('captcha')->shouldReceive('verifyRequest')->andReturn(true);`

but for some reason I'm getting:

`call to undefined method shouldReceive()`

I don't get it, because InvisibleReCaptcha extends `Facade`, so it should have that method. Any advice? For now, I did a nasty trick:

`$this->app['v

[2017-07-03 19:07] dorianboulch commented on #28
Yes !
It's all good. Thanks

Maybe you should update composer default version ?

[2017-07-09 00:12] oppenheimer commented on #30
Thank you Albertcht as well, for a great package.

@mkarnicki Have you considered using the Google "test keys"?
[https://developers.google.com/recaptcha/docs/faq](https://developers.google.com/recaptcha/docs/faq)

[2017-07-12 18:15] ItzMe42 opened #31 "trying to use recaptcha in a bootstrap modal."
Hello, I'm using your recaptcha class and it works well, great work! However I'm trying to use it on my website. To be more specific, I'm using it inside a bootstrap modal and the captcha works but the captcha label is aligned weird. Like it's buggin back and forth at the right border of the modal. I thought it will fix inside the normal page body like in the right corner. I know I can hide it but

[2017-07-16 14:23] albertcht commented on #31
hi @ItzMe42 , Do you mean it will slow down your page load speed if you're trying to hide the recaptcha badge? You can try to overwtire recaptcha css to make it fit in a modal.

[2017-07-16 14:23] #24 closed

[2017-07-16 14:24] #19 closed

[2017-07-16 14:24] #14 closed

[2017-07-16 14:24] #28 closed

[2017-07-16 14:24] #25 closed

[2017-07-16 14:24] #26 closed

[2017-07-18 15:50] mkarnicki commented on #30
@oppenheimer Sorry for late reply. Thank you, I should have done a better search. This is exactly what I needed. Closing the issue.

[2017-07-18 15:50] #30 closed

[2017-07-18 21:00] mikeymatteo opened #32 "Multiple ReCaptchas"
Is it possible to override the Catcha div id on instantiation?

This would allow for multiple recaptchas on the same page.

[2017-07-21 13:07] leiiinad opened #33 "Double form submit"
Hi.

I have included recaptcha and trying submit form with ajax, but recaptcha ignore them and submit form with URL. Do you know how fix this?

[2017-07-21 15:17] albertcht commented on #33
Hi @leiiinad , did you implement `_submitEvent` function to call your ajax action?

[2017-07-22 07:55] leiiinad commented on #33
Yes, i have submit event.

`item.submit(function(e) {});`

[2017-07-22 13:06] albertcht commented on #33
Can you provide your full script how you trigger your ajax call? Otherwise I don't have enough info to figure it out, thanks!

[2017-07-23 15:16] leiiinad commented on #33
Yes, sure.

This is form example:
`{!! Form::open(['name' => 'registration-form', 'url' => '', 'id' => 'registration-form', 'data-ajax-form' => 'true']) !!}`

...and submit button:
`<button type="submit" class="btn">Submit</button>`

In this form call i recaptcha:
`@captcha()`

I have custom js script to dynamic create ajax call.
For example:

`$('form[data-ajax-form=true]').submit(function(e) {

[2017-07-23 15:29] leiiinad commented on #33
The problem is because recaptcha submit form and not make validation with Laravel validator on submit general form.

[2017-07-24 01:35] albertcht commented on #33
All your customized action needs to be implemented in `_submitEvent` function. So your js code should look like:
[code]

[2017-07-24 18:05] leiiinad commented on #33
I get an error:
`Uncaught ReferenceError: _submitEvent is not defined`

Why this not work with classic ajax call implementation?

[2017-07-25 01:48] albertcht commented on #33
Please turn on the debug mode by setting `INVISIBLE_RECAPTCHA_DEBUG=true` in .env file to check if your render is correct. If any of these bindings is false, that means you render the captcha in a wrong place.
If you render this captcha correctly, it will listen to the submit event to bind validation automatically. This is why you need to implement `_submitEvent` to do your customized action in th

[2017-07-25 01:57] marcelogarbin commented on #24
Unfortunately I came back with this problem, I noticed that when opening the browser console the code that you gave me as help returns me an infinite Loop. I have no idea how to solve it.

`Uncaught RangeError: Maximum call stack size exceeded.`

How can I find the source of the problem? Do you have an idea?

[2017-07-25 06:59] leiiinad commented on #33
All bindings are true...

[code]

[2017-07-25 12:26] albertcht commented on #33
ok, I think you're almost there. Let's clarify your issues now...
1. Does error `Uncaught ReferenceError: _submitEvent is not defined` still exist?
2. Does your original issue `recaptcha ignore ajax and submit form with URL` still exist?
3. Do you call your ajax action successfully now?

[2017-07-26 11:45] leiiinad commented on #33
- Does error `Uncaught ReferenceError: _submitEvent is not defined` still exist?
**No, besause i don't used in my custom ajax.**
- Does your original issue` recaptcha ignore ajax and submit form with URL` still exist?
**Yes.**
- Do you call your ajax action successfully now?
**Both action are called...my ajax and recaptcha submit form with URL. There is the problem, because recaptcha submit form i

[2017-07-26 13:18] albertcht commented on #33
well... I just created a repo for demonstrating how to use this package with ajax. It works fine.
Please see: https://github.com/albertcht/invisible-recaptcha-example

[2017-07-26 13:24] leiiinad commented on #33
Yes, in this case works fine. I will clone your repo and edit with my example. Give me some time.

[2017-07-28 08:40] martinsce opened #34 "Issue with multiple forms using captcha in the same page"
Hello,
I have multiple forms in the same page that uses invisible reCaptcha the issue with this library
is that when rendering the captcha using

    {!! app('captcha')->render(); !!}

It creates a `_g-recaptcha` id

     <div id="_g-recaptcha"></div>
 
and also loads https://www.google.com/recaptcha/api.js script

if you could simple change `_g-recaptcha` to use a class  and load the script once

[2017-07-28 13:32] albertcht commented on #34
hi @martinsce
Great suggestion, I have marked this issue as a new milestone, but I can't guarantee when it will be completed.

[2017-07-28 13:36] albertcht commented on #32
Hi @mikeymatteo, I just added a milestone for this feature: https://github.com/albertcht/invisible-recaptcha/milestone/1

[2017-07-28 18:51] mikeymatteo commented on #32
Great, Thanks. I will keep my eye on it.

[2017-07-28 19:25] mikeymatteo commented on #34
Probably a horrible way to achieve it but I've just tested it will this for the render function

[code]

and then instantiated with `{!! app('captcha')->render(null, "SomeUnqiueValueHERE"); !!}`

[2017-07-29 15:22] leiiinad commented on #33
Check my fork.

[2017-07-30 13:43] albertcht commented on #33
There's only one principle when you customized your own submit function:
**do it in `_submitEvent ` function**
So just try to trigger your ajax call in that function, and do not bind the submit event by yourself.
If you think it limits your code structure, you can refer to https://developers.google.com/recaptcha/docs/invisible to implement original api in the frontend rather than render captcha pr

[2017-07-30 13:49] albertcht commented on #34
thank you @mikeymatteo , I will check it.

[2017-07-30 19:03] mikeymatteo commented on #34
I think it will also need
`&render=explicit`

[code]

[2017-07-31 18:18] mikeymatteo commented on #34
On second look, there is a little more to it than that. I don't get much spare time but if i come up with a good solution before you have, i'll submit a pull request.

[2017-08-06 15:16] mind-io opened #35 "Config for data-badge parameter"
Hi All,
Nice package. But default reCAPTCHA badge position is ignoring any page structure and goes under my bootstrap sticky footer and not visible :/
So we need to be able to pass `data-badge` with **inline** value and have some styling options.

BR

[2017-08-06 16:11] albertcht commented on #35
hi @mind-io,
Have you considered to hide the badge by setting `INVISIBLE_RECAPTCHA_BADGEHIDE=true`?
The style of reCAPTCHA badge is generated by Google, and there's no way to change it via its api unless you override its css style on your own.

[2017-08-06 17:29] mind-io commented on #35
Yes, that's exactly what I did at the moment. And what I meant  by styling is more about control where to position the badge.

[2017-08-07 09:54] albertcht commented on #35
hi @mind-io,
after reading offical api document, I found there's a `data-badge` parameter and it allows:
bottomright, bottomleft, inline 3 different options to style your badge.
I will add another env config for users to pass their `data-badge` value to rendered function in next release.

[2017-08-14 09:58] subdesign opened #36 "Process other Laravel validation rule first"
Is it possible somehow to process other Laravel validation rules first? For example if I have an email field, and it's required, recaptcha shouldn't "fire" only if a valid email entered..

[2017-08-17 14:17] albertcht commented on #34
Hello @martinsce @mikeymatteo , I created a new branch for multi-forms purpose. You can go check it out to see if it meets your needs.

[2017-08-17 14:18] #33 closed

[2017-08-17 14:19] #32 closed

[2017-08-17 14:27] albertcht commented on #36
Hi @subdesign , according to your description, I think you need to do frontend validation or simply just use native required attribute. For example:
[code]

[2017-08-18 02:35] marcelogarbin opened #38 "invisible recaptcha with Jquery Validation"
How to use with jquery validation (https://jqueryvalidation.org/)?
I'm using with this package for laravel https://github.com/proengsoft/laravel-jsvalidation

I try this, however the form or captcha is triggered before even validating all the fields.

[code]

I would like the captcha (and the correct one would be) to be triggered only when all the form inputs are valid. The package is fantastic, b

[2017-08-18 14:34] subdesign commented on #36
Thanks

[2017-08-18 14:34] #36 closed

[2017-08-24 20:14] JoshMountain opened #39 "_captchaForm.submit is not a function"
I'm getting this error after implementing this package on a simple form. Debug says everything is binding properly however it won't submit the form.

<img width="423" alt="screen shot 2017-08-24 at 1 13 02 pm" src="https://user-images.githubusercontent.com/3465855/29686518-1a3bea5c-88ce-11e7-8fd4-b398e16814bd.png">

[2017-09-03 03:49] albertcht commented on #39
hi @JoshMountain , sorry for responding late.
Can you provide the code how you render with this package? It will be helpful to figure out this situation.

[2017-09-03 12:12] albertcht commented on #38
Hi @marcelogarbin , sorry for responding late.
In version 1.7, I add a further function you can call before captcha validation. See: [https://github.com/albertcht/invisible-recaptcha#take-control-of-submit-function](https://github.com/albertcht/invisible-recaptcha#take-control-of-submit-function)
So you can try to do like this:
[code]

[2017-09-03 12:14] albertcht commented on #35
Hi @mind-io , in version 1.7, I have added a config called `INVISIBLE_RECAPTCHA_DATABADGE` that you can customize your css style.
There are three different styles available: `bottomright`,` bottomleft`, `inline`

[2017-09-03 12:16] albertcht commented on #31
Hi @ItzMe42  , in version 1.7, I have added a config called INVISIBLE_RECAPTCHA_DATABADGE that you can customize your css style.
There are three different styles available: bottomright,bottomleft, inline

[2017-09-03 12:16] #31 closed

[2017-09-06 01:35] marcelogarbin commented on #38
@albertcht Thank's for your respost. I'm still testing. But I believe it will work as expected. When I'm done, I'll give you some feedback. I think I'll finish it by tomorrow.

[2017-09-06 13:51] marcelogarbin commented on #38
Problem solved.
Using the function to resolve conflicts between the 2 packages (laravel-jsvalidation and invisible-recaptcha):
https://github.com/albertcht/invisible-recaptcha#take-control-of-submit-function

[code]

Thank's @albertcht

[2017-09-06 13:51] #38 closed

[2017-09-06 14:09] marcelogarbin commented on #24
Problem solved in https://github.com/albertcht/invisible-recaptcha/issues/38#issuecomment-327489537

[2017-09-11 13:53] BAKTETE opened #41 "1.7 breaks load of Blade directives for other packages"
please consider making changes in `InvisibleReCaptchaServiceProvider.php ` in `register()` method
[code]
@albertcht
the conflict happens with `spatie/laravel-permission `
For more informations
[Blade extensions are not registered and output as text in boot #458](https://github.com/spatie/laravel-permission/issues/458)
[LaravelCollective/html#330](https://github.com/LaravelCollective/html/issues/33

[2017-09-11 14:31] albertcht commented on #41
hi @BAKTETE , thanks for your suggestion, but I have no clues how it breaks other packages at this moment. Do you mind giving an example or explanation?  thank you!

[2017-09-13 13:23] rossbearman commented on #41
Hi @albertcht,

I think I can shed some light on this. Currently you're registering Blade directives while some service providers are still being registered, by only waiting until the `view` provider is resolved. Ideally you would register the Blade directives [during the `boot()` method](https://laravel.com/docs/5.5/blade#extending-blade), rather than `register()`. Alternatively waiting for `blad

[2017-09-13 16:18] albertcht commented on #41
hi @BAKTETE @rossbearman, really appreciated your information. I will work on this issue as soon as possible.

[2017-09-24 12:47] #35 closed

[2017-09-24 12:47] #34 closed

[2017-09-24 13:02] albertcht commented on #41
changed to `$this->app->afterResolving('blade.compiler'` in v1.7.1

[2017-09-24 13:02] #41 closed

[2017-09-26 20:11] frenchqwerty opened #42 "I don't understand the installation guide"
[code]
Where do I add this on my laravel project ?

Thank you

[2017-09-30 07:30] albertcht commented on #42
hi @frenchqwerty , there are many ways to use validator in Laravel, please see https://laravel.com/docs/5.5/validation

[2017-09-30 07:31] #39 closed

[2017-10-01 15:34] PhPPgAdminBug opened #45 "Multiple re-catpchas on page throws ERRORS - ReCAPTCHA placeholder element must be empty"
Hello, thank you for your cool package.

I have issue with multiple re captchas on single page. I have 3 forms, login, registration and reset password.

2 of them hidde, when you click button, appears form we need. I do not want to do this with ajax or async loading forms. Because user can loop it and do bad stuff to server, loading forms. So i think this is bad practice to do like that.

When i u

[2017-10-01 16:25] albertcht commented on #45
hi @PhPPgAdminBug , may I ask which branch you are using now? You should use `multi-forms` branch instead of `master` branch.

[2017-10-04 09:24] GertjanBrouwer opened #46 "Multi-forms laravel 5"
Hey,

When I install this package via composer I get the master branch, how to install the multi-forms with composer?

[2017-10-04 11:04] albertcht commented on #46
Hey,

`composer require albertcht/invisible-recaptcha:dev-multi-forms`

[2017-10-04 11:04] #46 closed

[2017-10-04 11:08] #42 closed

[2017-10-08 14:01] PhPPgAdminBug commented on #45
thank you,  installed package with command  `composer require albertcht/invisible-recaptcha`

[2017-10-08 15:14] albertcht commented on #45
hi @PhPPgAdminBug , you can refer to this issue: #46

[2017-10-09 14:58] PhPPgAdminBug commented on #45
Wow, it breaks all other scripts. After we typed command `composer require albertcht/invisible-recaptcha:dev-multi-forms`  **it breaks other JS packages like jquery ui, bootstrap scripts, tether etc.**

Ofcourse it is related only to this pard of code. `{{-- Invisible Google Recaptcha --}}
                        @captcha()` that renders capthca.

it seems somehow it breaks all script that go befo

[2017-10-10 14:13] albertcht commented on #45
hi @PhPPgAdminBug , can you post your error message here to help me figure out what's going on? I'm doubting you're using an elder version jquery in your original project, and it caused conflict(not sure).
And it doesn't support Vue.js, I will suggest you to find other recaptcha solutions for VueJS.

[2017-10-10 16:57] PhPPgAdminBug commented on #45
Error message says for every jQuery function, that is not a function.
Smth like `$().func is not a function`.

[2017-10-22 10:48] albertcht commented on #45
Hi @PhPPgAdminBug , I did some changes to this branch. From now on, you need to include `jquery` before you call the captcha. I also provide an example repo to demonstrate how to use this branch with an ajax usage. You can check: https://github.com/albertcht/invisible-recaptcha-example/tree/multi-forms

[2017-10-25 21:19] johnnymast opened #48 "Cannot read property 'querySelector' of null we need custom views"
Hello Sir,

On laravel 5.4 it was running fine but on 5.5 i get this error .

![screen shot 2017-10-25 at 23 15 59](https://user-images.githubusercontent.com/121194/32023754-91ac47a2-b9da-11e7-9134-25a4ff6ca187.png)

It relates tho the following code:

![screen shot 2017-10-25 at 23 17 32](https://user-images.githubusercontent.com/121194/32023819-b8e14250-b9da-11e7-9862-95aaeca13f97.png)

I think

[2017-10-25 21:20] johnnymast commented on #48
PS the error can be found here https://opensource.nl2nd.com/ ..

[2017-10-25 21:22] johnnymast commented on #48
also this project isnt done yet ;) it will find opensource projects for beginners. Like issues with labels as "great for beginners" and "easy"

[2017-10-30 11:36] BAKTETE opened #49 "Failed to load resource: the server responded with a status of 400 ()"
the package was working fine suddenly it start throwing `400`

![untitled](https://user-images.githubusercontent.com/27772375/32169260-b452208e-bd67-11e7-9764-1c0b56f82616.png)

[2017-10-30 12:48] albertcht commented on #49
hi @BAKTETE, it looks like your data-key is wrong, you put `{6LcRwCQUAAAAAAcCl5p4...}` in your config, please remove`{`, `}` marks.

[2017-10-30 12:55] albertcht commented on #48
hi @johnnymast, I just visited your website, and I can't find any form element in your html script. The captcha must be rendered in a form element.

[2017-10-30 13:14] BAKTETE commented on #49
@albertcht this is the url to my website [messagerie.ump.ma](messagerie.ump.ma)

[2017-10-31 09:39] #49 closed

[2017-11-01 19:26] jrod730 opened #50 "Laravel Validation"
where is exactly is the rules array located? I am I suppose to create a form request validation and deposit that code in the rules function?

[2017-11-05 05:48] albertcht commented on #50
Please see https://laravel.com/docs/5.5/validation#validation-quickstart

[2017-11-05 05:48] #50 closed

[2017-11-05 12:55] keevitaja opened #51 "Using recaptcha with ajax submitted forms"
Hello!

Is there a easy, or not so easy, way to make recaptcha work with ajax forms where data is posted using axios library?

[2017-11-05 14:42] albertcht commented on #51
Hi @keevitaja, please see https://github.com/albertcht/invisible-recaptcha#customize-submit-function. You can use axios in `_submitEvent` function directly to submit an ajax form.

[2017-11-05 15:12] keevitaja commented on #51
tnx... this actually is pretty simple from scratch too.

[2017-11-05 15:12] #51 closed

[2017-11-05 17:27] ishan123456789 opened #52 "validation.captcha error in lumen"
I'm using invisible captcha in a lumen API but it always returns with `validation.captcha` error.Can you suggest anything

[2017-11-05 17:56] #52 closed

[2017-11-10 16:09] jrod730 opened #53 "Console error in blade.php file"
When including the "@captcha" console displays a warning with the following:

app.js:sourcemap:44258 [Vue warn]: Error compiling template:

- Templates should only be responsible for mapping the state to the UI. Avoid placing tags with side-effects in your templates, such as <script>, as they will not be parsed.
- Templates should only be responsible for mapping the state to the UI. Avoid placing

[2017-11-18 06:35] albertcht commented on #53
hi @jrod730 ,

When you call "@captcha", the package will generate js script to bind your button submit event. However, this kind of behavior is not recommended by Vue. You should implement your frontend captcha by yourself of use other packages like https://github.com/MicroDroid/vue-invisible-recaptcha

Nevertheless, you can still remain this package for your backend captcha validation.

[2017-11-18 06:35] #48 closed

[2017-11-18 06:35] #45 closed

[2017-11-22 02:22] willsilvano opened #54 "How test formValidation"
Hi.

I'm getting this error:
`Illuminate\Validation\ValidationException: The given data was invalid.`

How can I send the captcha validation to my controller?

[2017-11-25 07:55] albertcht commented on #54
Hi @willsilvano ,

If you're asking how to do the validation in form request, just add `'g-recaptcha-response' => 'required|captcha'` to your rules.

[2017-11-25 15:10] willsilvano commented on #54
Hi @albertcht !
My problem is how test this in test class.
`$this->post(route('my.route'), $data)`
How I should send the param `g-recaptcha-response` in the `$data`?

[2017-11-25 15:32] albertcht commented on #54
Hi @willsilvano ,

In this case you need to mock `InvisibleReCaptcha` by yourself.
Here is the example how you can do it.
[code]

[2017-12-03 12:33] willsilvano commented on #54
@albertcht Thank you man! It's working now!

[2017-12-03 12:33] willsilvano commented on #54
@albertcht Thank you man! It's working now!

[2017-12-03 12:33] #54 closed

[2017-12-23 02:04] rolandverner opened #56 "not works with laravel auth"
i try to put the recaptha to registration and that not works with it

[2017-12-23 09:40] albertcht commented on #56
Hi @rolandverner ,

Please provide more detail information for clarifying your question. For example, the web console message or the partial code how you use this package in your view.

[2017-12-23 09:41] #53 closed

[2017-12-23 11:04] rolandverner commented on #56
![image](https://user-images.githubusercontent.com/12708415/34319103-b751a026-e7e1-11e7-882e-567721930a84.png)
![image](https://user-images.githubusercontent.com/12708415/34319107-cc7496a2-e7e1-11e7-9783-7b000ef520ac.png)
![image](https://user-images.githubusercontent.com/12708415/34319109-d6f6e8c8-e7e1-11e7-9697-99dac6b723db.png)

[2017-12-23 17:30] MichalOravec opened #57 "Blade directive @captcha with language"
Hi,

there is problem with @captcha.

To work it is necessary to specify a constant and not a string

`@captcha(en)`

instead of

`@captcha('en')`

This work great:

`{!! app('captcha')->render(app()->getLocale()) !!}`

but this not:

@captcha(app()->getLocale())

[2017-12-24 12:58] albertcht commented on #57
Hi @MichalOravec ,

Thanks for your bug report.
It's designed to put a string in this function, and I released a hotfix to fix this bug: https://github.com/albertcht/invisible-recaptcha/releases/tag/v1.8.1

[2017-12-24 13:14] albertcht commented on #56
Hi @rolandverner ,

According to your screenshots, the captcha has been successfully loaded because the badge logo is shown on your right-bottom side.

You can dump your form data on the backend to check if there's a `g-recaptcha-response` field. If yes, that means the captcha works properly.

[2018-01-07 01:27] rolandverner commented on #56
it still not works on laravel auth

[2018-01-07 02:45] rolandverner commented on #56
Can be that it have some conflict with other packages?

[2018-01-07 09:22] #57 closed

[2018-01-07 09:27] albertcht commented on #56
There's a full laravel boilerplate project you can refer to:
https://github.com/Labs64/laravel-boilerplate

That boilerplate project integrates this package in its registration page and use laravel auth as well.

[2018-01-09 06:49] goper-leo opened #59 "Unit Test"
Is there a way to test recaptcha using unit testing? Thanks.

[2018-01-09 08:05] albertcht commented on #59
Hi @goper-leo , you can check this issue: #54

[2018-01-10 02:53] goper-leo commented on #59
Thanks.

[2018-01-10 02:53] #59 closed

[2018-01-14 15:21] timgavin opened #60 "Fail Test"
My badge shows in the bottom corner of the page, so I assume it's working correctly. However, I'd like to make it fail on purpose so I can see what happens. Is this possible? I'm using Laravel 5.5.

Thank you for this package! :)

[2018-01-14 15:58] albertcht commented on #60
Hi @timgavin ,
I'm not sure the meaning of 'make it fail'. You can try to send your request via postman or other alternative tools directly. Then you should get the result as you expect.

[2018-01-14 16:51] timgavin commented on #60
OK, Was just looking for a way to make sure it's actually working by seeing an error message or something like what a bot would get.

[2018-01-16 18:01] babalubas090 opened #61 "Problem with multiform invisible recaptcha"
Uncaught TypeError: $(...).tooltip is not a function
    at HTMLDocument.<anonymous> (skyweb.frame.js:32)
    at j (jquery.min.js:2)
    at Object.fireWith [as resolveWith] (jquery.min.js:2)
    at Function.ready (jquery.min.js:2)
    at HTMLDocument.J (jquery.min.js:2)

When the multiform invisible recaptcha is used, I get this error :/

[2018-01-17 01:51] albertcht commented on #61
Hi @babalubas090 ,
Which branch are you using? For multi-forms purpose, you should use `muliti-forms` branch. Also there's a example repo for this branch: https://github.com/albertcht/invisible-recaptcha-example/tree/multi-forms

[2018-01-17 10:32] babalubas090 commented on #61
I'm using the exact branch that you recommends:  https://github.com/albertcht/invisible-recaptcha-example/tree/multi-forms
But I can't get it working

[2018-01-17 12:55] babalubas090 commented on #61
I think that I corrected the issue.
I integrated the two branches of your package, the master and the multi-forms. I will make a pull request  for the multi-form branch so you can check the correction and let me now if is the write correction.

Note: I think that the error was caused by jQuery library, that you in the script

[2018-01-17 13:36] albertcht commented on #61
Hi @babalubas090 ,

First, thanks for your PR, but basically I keep `master` and `multi-forms` separate on purpose, so I will close your pull request.
I will check the example repo on `multi-forms` branch in few days. I will do the bug fix on that branch if I find one.

[2018-01-17 13:53] babalubas090 commented on #61
Sorry, I submitted a wrong fix. I tested after I made the PR, but it didn't work.
So I was trying to see if I could fix the problem and I found the solution without integrating the two branches.
The problem was that I was calling the jQuerry library in my code and in the file InvisibleReCaptcha.php you are calling the same library too, so I was running the project with two libraries of jQuerry.
Th

[2018-01-17 13:54] babalubas090 commented on #61
Sorry for the wrong PR

[2018-01-17 16:01] babalubas090 commented on #61
The solution is just replace the line 105 of src/InvisibleReCaptcha.php for
`$html = "<script>if ( (typeof jQuery === 'undefined') || !window.jQuery ) { document.write(unescape(\"%3Cscript type='text/javascript' src='" . $this->getJQueryJs() . "'%3E%3C/script%3E\"));}</script>";`

[2018-01-19 02:54] whitea2 opened #63 "What is polyfill.js used for?"
What is the purpose of "https://cdn.polyfill.io/v2/polyfill.min.js" ?

I noticed on the polyfill.js site that it is no longer maintained. Can I safely comment the following to remove the need for polyfill.min.js?
`$html = '<script src="' . $this->getPolyfillJs() . '"></script>' . PHP_EOL;" `

[2018-01-21 12:02] albertcht commented on #63
Hi @whitea2,

polyfill.js is for patching unsupported js apis for old browsers (like IE). And as far as I know, polyfill.js is still under maintainacne.

[2018-01-21 12:02] #60 closed

[2018-01-21 12:02] #56 closed

[2018-01-21 12:10] albertcht commented on #61
Hi @babalubas090 ,

I'm not sure which commit version you are using. I've removed jquery dependency from `InvisibleRecaptcha.php` in this commit: https://github.com/albertcht/invisible-recaptcha/commit/ec76a93d35f89c0e5caed395a21f69c8fe7b5c1c#diff-a6b44d29a543635024ad42ccf3fcbcca

So users need to require jquery file before calling this package to prevent from conflict.

[2018-01-21 18:46] babalubas090 commented on #61
I tried to require the multi-
form version of your package with composer, but I didn’t get to require. It always says that the version of the package could not be found. So I downloaded the exemple version of the multi form branch, runned the composer install and after it finished the requiring process, I copied the vendor directory of your package to my project.
I know that the process that I did

[2018-01-22 02:19] babalubas090 commented on #61
Thank you for your help!

[2018-01-22 02:23] albertcht commented on #61
No problem.

[2018-01-22 18:07] babalubas090 commented on #61
Hi @albertcht
I'm with another trouble in my project, I need to change the blade directive of your package because I have another package that calls the same `@captcha` that your package does. I know that this problem isn't yours package fault, but I need to get it change in my project. It could be `@invisibleRecaptcha` or another thing.
PS: I am not telling you to change your package because of m

[2018-01-23 19:54] magnosis opened #64 "Overrides jQuery Validate and submits an invalid form"
Hi there,

I use this in conjunction with jQuery Validate, provided by [proengsoft/laravel-jsvalidation ](https://github.com/proengsoft/laravel-jsvalidation).

It seems that whenever I add @captcha() to my forms, these forms now submit even when invalid.

As soon as I remove the @captcha() line from the form, then the form behaves as expected, and will not submit if jQuery.validate({}) fails valid

[2018-01-24 18:43] magnosis commented on #64
I fixed this one myself, adding this bit of JS to forms that use both laravel-jsvalidation and invisible-recaptcha:

[code]

[2018-01-24 18:44] #64 closed

[2018-01-25 08:13] hedii opened #65 "INVISIBLE_RECAPTCHA_BADGEHIDE not hiding badge"
Hi, it seems the INVISIBLE_RECAPTCHA_BADGEHIDE env is doing nothing.

my .env:
[code]

my form:
[code]

the result:
<img width="1495" alt="capture d ecran 2018-01-25 a 09 10 24" src="https://user-images.githubusercontent.com/5358048/35377544-e2546eec-01af-11e8-8509-63bd1db64622.png">

[2018-01-28 13:54] albertcht commented on #61
Hi @babalubas090 ,

Actually you have other choices rather than blade directives, you can call the render function like this: `{!! app('captcha')->render(); !!}`.
Or you can register your own blade directive in your customized service provider like here: https://github.com/albertcht/invisible-recaptcha/blob/master/src/InvisibleReCaptchaServiceProvider.php#L18-L20

[2018-01-28 15:16] albertcht commented on #65
Hi @hedii ,

You can use inspector to check if `display: none !important` is applied on your `.grecaptcha-badge` css class.

![](https://i.imgur.com/SYu18P2.png)

[2018-01-29 08:55] hedii commented on #65
Hey @albertcht,

I already checked my env before submitting this issue (config is ok when dumped in a blade view).

The style tag with display none is in the rendered html of the page, but it looks like something is removing it from the dom on page load.

Maybe a side effect with Vuejs which is complaining about the captcha script tag in the page wrapper #app.

I am ok to close this issue because

[2018-01-29 11:35] babalubas090 commented on #61
Thank you @albertcht!!!

[2018-01-29 11:35] #61 closed

[2018-01-29 13:31] albertcht commented on #65
Hey @hedii ,

This package is not guaranteed compatible with Vue.js for the front-end side. It's highly not recommended to render raw HTML in your Vue app.

[2018-01-29 13:35] hedii commented on #65
Yes, my form in rendered through laravel blade, but my layout have a #app div for vue (default laravel layout) and vue is activated on all pages. So there is no vue related stuff in the form.

[2018-01-29 14:55] albertcht commented on #65
Got it, however there's nothing I could do since `display: none !important` style of `.grecaptcha-badge` is rendered successfully. There must be somewhere in your page effecting this behavior.  If you figure out what makes this happen please let me know.

[2018-01-29 14:57] hedii commented on #65
Ok! thanks @albertcht

[2018-01-29 14:57] #65 closed

[2018-01-30 07:40] Barmunksu opened #66 "blade syntax error, unexpected ')"
hello,
in your tutorial blade `@captcha()` render syntax error function like this `<?php echo app('captcha')->render(()); ?>`. If i write `@captcha` all good

[2018-01-30 09:58] albertcht commented on #66
Hi @Barmunksu ,

Thanks for your report. `@captcha` is the correct usage. I've update `README` doc.

[2018-02-03 18:35] ctf0 commented on #48
@albertcht i have the same issue, its related to vue which cant have a script tag inside its controlled container, so i have to move the captcha outside of it which means it will be outside of any form boundaries,
am using axios for submit so i dont think the captcha needs to be inside the form or am i wrong, if yes then is there a way around to get to work with vue properly ?

[2018-02-03 18:51] ctf0 opened #67 "framework usage "vue""
https://github.com/albertcht/invisible-recaptcha/issues/48

issue is related to frameworks that doesnt allow script tags inside its container ex.**vue** so we have to move the captcha outside of it which means it will be outside of any form boundaries.

maybe a solution would be assigning an id to the form, and send it as a param to the captcha directive ex.
[code]

[2018-02-04 14:20] albertcht commented on #67
Hi @ctf0 ,

Thanks for your valuable suggestion. In the beginning this package is designed without consideration for framework like Vue.js. And actually Vue.js also suggests developers not to manipulate the DOM. The better solution for invisible recaptcha with Vue.js you can consider the package like this one: [vue-invisible-recaptcha](https://github.com/MicroDroid/vue-invisible-recaptcha).

[2018-02-04 14:21] #63 closed

[2018-02-04 17:41] ctf0 commented on #67
thanx for the vue package link

[2018-02-04 17:41] #67 closed

[2018-02-07 20:15] ultimateBusiness opened #68 "update for using with Laravel 5.6, please ;-)"

[2018-02-08 16:02] charlielangridge commented on #68
Please can you merge PR #69

[2018-02-12 01:48] albertcht commented on #68
Yes, I've merged the pull request, and the released version is `v1.8.2`

[2018-02-12 21:12] johnnymast commented on #68
It should not be a suggestion :( it should be priority (with all do respect). i might fork and packagist OR just do a pr .. how fast could you respond if i make a 5.6 pr ?

[2018-02-12 21:13] johnnymast commented on #68
This is the most awesome package for what it does loads of us need it.

[2018-02-12 21:33] johnnymast commented on #68
i just saw you updated it today! Good thanks i needed it yesterday and it didnt work (yet) your so awesome. Thanks a lot

[2018-02-12 21:42] johnnymast opened #70 "INVISIBLE_RECAPTCHA_BADGEHIDE does not work"
Hello There,

I was trying to hide the badge on the bottom right but it didnt work like i wanted it to. Here is my .env file.

<img width="832" alt="schermafbeelding 2018-02-12 om 22 39 19" src="https://user-images.githubusercontent.com/121194/36121129-9a5c9dea-1045-11e8-9c80-d331bc8414b5.png">

And this is what i see in my frontend.

<img width="810" alt="schermafbeelding 2018-02-12 om 22 40 02"

[2018-02-12 23:04] johnnymast commented on #70
love you to bits ..

[2018-02-14 14:34] langeuh commented on #54
I'd like to add the following:

if you use `$this->visit()` instead of `$this->post()`to test your page, you'll need to add following snippet as well:

[code]

[2018-02-14 14:51] albertcht commented on #68
You're welcome.

[2018-02-14 14:52] #68 closed

[2018-02-14 14:52] #66 closed

[2018-02-14 15:10] albertcht commented on #70
Hi @johnnymast ,

Is the source code you posted on the above [here](https://github.com/johnnymast/11min/blob/master/resources/views/contact/index.blade.php) ? I will take a look at this and try to figure it out in the few days.

[2018-02-17 08:07] albertcht commented on #70
Hi @johnnymast ,

I tried to figure out why css style rendered by this package doesn't apply to your DOM of contact page, but I can't find a specific reason so far.

However, I find something interesting. It seems that somewhere in your `public/app.js` making `.grecaptcha-badge{display:none;!important}` disappeared in your rendered DOM.

If you try to remove `app.js` from your contact page or use

[2018-02-20 09:05] johnnymast commented on #70
I will double check my code.

[2018-02-23 16:11] adampweb opened #71 "README missing an equation sign"
missing an equation sign from the following line (in CodeIgniter 3.x section):
`$config['recaptcha.options'] [`
corrected:
`$config['recaptcha.options'] = [`

[2018-02-25 02:06] albertcht commented on #71
Hi @adampweb ,

Thanks for your report. I've updated the doc.

[2018-02-26 15:43] eduarguzher commented on #67
it should be considered again IMHO...

[2018-02-28 04:51] #71 closed

[2018-03-01 15:15] kiwo12345 opened #75 "position badge to bottom left of window instead of form"
I am using the setting `INVISIBLE_RECAPTCHA_DATABADGE='bottomright'` but this will position it to the bottom right of my **form** is there any way to position it to the bottom right of the **entire window** and not to its parent div?. Even better make it fixed position to the bottom right of the entire window and not to its parent

It also has this weird slide in animation if I hover on the badge,

[2018-03-09 13:59] #75 closed

[2018-03-15 05:18] david-j-davis opened #76 "INVISIBLE_RECAPTCHA_DEBUG=true doesn't seem to work"
Currently on my site the invisible recaptcha is not working on my registration page, and upon submit, the recaptca is failing and I have INVISIBLE_RECAPTCHA_DEBUG=true but don't see any logs inside of laravel.log or console errors. Where does this debug show up?

[2018-03-16 02:26] johnnymast commented on #70
well i came back to the project. it seems besides my hiding script (explained above) i didnt have any other wierd code except plain vue. Right now if i view the issues here i seems i was right about my claims. I suggest you review your project because i love it but there are some big issues with the google badge. I read it few times already i suggest you try my fix ..

[2018-03-16 02:29] johnnymast commented on #76
sir i have gave a big time issue report it wasn't taken serious so i think we are wasting our time. My long report is here (about a slightly diffrent issue) https://github.com/albertcht/invisible-recaptcha/issues/70

[2018-03-16 09:08] #70 closed

[2018-03-17 03:34] albertcht commented on #76
Hi @david-j-davis ,

If you set `INVISIBLE_RECAPTCHA_DEBUG` as true, you should be able to see the binding status of the captcha like this:
[code]
A validation exception in Laravel will not be recorded in `laravel.log` by default.

I will suggest you dump your inputs on Laravel to see if you can get `g-recaptcha-response` param. If not, that means your frontend code doesn't work properly. You can

[2018-03-17 17:50] david-j-davis commented on #76
Thanks @albertcht. So I still have no idea where to find:
`Checking element binding of _submitForm...
true
Checking element binding of _captchaForm...
true
Checking element binding of _captchaSubmit...
true`

I've dumped out my requests, and my code doesn't make it past the validator. Here's my code, followed by the dump:

` protected function validator(array $data)
    {
        echo dd($data);

[2018-03-18 04:32] albertcht commented on #76
Hi @david-j-davis ,

Please refer to https://developers.google.com/web/tools/chrome-devtools/console/ to open your browser debug console. Go find if there's any error message on your console.

As  what your dump data has shown, `g-recaptcha-response` is null. That's why you can't pass the captcha rule.

Also you can check again if your captcha directive is placed on a correct position. (see: https

[2018-03-18 11:42] Sarfroz opened #77 "recapctha ask verify every submit"
hi, as i have also used other website forms with captcha,  they don't ask to verify recapctha with every submit. But here every time i click on submit i have to verify it. is it from google side or do i need to change some configuration.

[2018-03-18 13:41] albertcht commented on #77
Hi @Sarfroz ,

There's a security preference in Recaptcha's setting page. You can try to set the level to `easiest`.

![security-preference](https://i.imgur.com/lfUjRVM.png)

If you trigger the captcha multiple times in a short period, Google will judge you're a robot and ask you to verify you're human. This is normal, and there's no way to avoid it.

[2018-03-18 19:44] david-j-davis commented on #76
Hi @albertcht, thanks. I don't have any console error logs. Haven't had any errors posted to the console from the start even though I do have INVISIBLE_RECAPTCHA_DEBUG set to true. When I hit submit, this shows up in the console, and nothing else:
`recaptcha__en.js:84 XHR finished loading: POST "https://www.google.com/recaptcha/api2/reload?k=6LfrujEUAAAAAPC87ZEt-gsms_5ZigErHpju2s2d".`

Here is par

[2018-03-19 02:08] albertcht commented on #76
Hi @david-j-davis ,

Can you open your browser console and type `_submitForm` and `_captchaForm`? Let's see what it shows.

[2018-03-19 21:15] johnnymast commented on #77
@Sarfroz this is normal to recaptcha. it has a timer and the timer will will decrease with every time you reload the form. If you are developing a form and testing it the recaptcha well notice and will get more strict with the next reload. What i do in development is disable the validation and enable it when your testing your form for real.

[2018-03-20 01:16] david-j-davis commented on #76
Both are undefined..

![screen shot 2018-03-19 at 6 14 34 pm](https://user-images.githubusercontent.com/3498223/37630402-a20c9a64-2ba1-11e8-87dd-6da8152d2531.png)

[2018-03-20 02:10] albertcht commented on #76
Well... it looks like recaptcha's `api.js` loaded successfully, so you can see the badge logo. However, your element bindings are incorrect since you can't get `_captchaForm` and `_submitForm` elements correctly.

You check https://github.com/albertcht/invisible-recaptcha#usage again if these three conditions are satisfied.  And do you mind pasting your source html code(view-source) of that page h

[2018-03-20 02:48] david-j-davis commented on #76
All three conditions seem to be met. Here's my source:

`

  | <!DOCTYPE html>
  | <html lang="en">
  | <head>
  |
  | <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106769408-1"></script>
  | <script>
  | window.dataLayer = window.dataLayer \|\| [];
  | function gtag(){dataLayer.push(arguments)};
  | gtag('js', new Date());
  | gtag('config', 'UA-106769408-1');
  | </script>
 

[2018-03-20 02:51] david-j-davis commented on #76
Conditions seem to be met. Here's my view source paste: https://paste.ofcode.org/HLcJz8XQMgQA6ubHFhtvic

[2018-03-20 13:13] albertcht commented on #76
Hi @david-j-davis ,

I ran your html code on my computer, and this is what I got:

![](https://i.imgur.com/veg4w5I.png)

And I try to dump `g-recaptcha-response` by adding:
[code]
And here is the result:

![](https://i.imgur.com/tuo00jC.png)

everything looks good, and I can't find any error here, with the modified html I tested: https://paste.ofcode.org/eDG5sBLsr6Shni9dsuPZkE

[2018-03-20 14:18] david-j-davis commented on #76
That's curious. Ok not sure what's going on then on my end. Thanks for
helping me.

On Tue, Mar 20, 2018, 6:13 AM Albert Chen <notifications@github.com> wrote:

[2018-03-20 14:57] albertcht commented on #76
No problem.

[2018-04-09 18:37] Mevrael opened #80 "error in contact form on your website"
Hi Albert, would you mind to send me a note to mevrael@gmail.com . Would like to chat.

Couldn't send your contact form on your website, it gives JSON.parse error.

[2018-04-10 02:05] albertcht commented on #80
Hi @Mevrael,

Thanks for your report, I've fixed it. It should work now.

[2018-04-10 02:05] #80 closed

[2018-04-18 09:07] talapai commented on #76
Exactly such a problem.
I use Cartalyst\Sentinel not official Auth package. (Laravel 5.6. )
"g-recaptcha-response" field is empty.
_captchaForm and _submitForm are undefined

[2018-04-18 12:39] albertcht commented on #76
Hi @talapai ,

I created a demo page here: https://codepen.io/albertcht/pen/yjLoQY

The script inside the form is 100% same with the js this package generated.

If you can re-demo your error on codepen like what I did will help me a lot to figure out what happened. Thank you.

[2018-04-20 10:32] #77 closed

[2018-04-20 10:35] albertcht commented on #76
I am currently busy working on another project, but I will check this issue once again. If there's anyone who can reproduce the issue on codepen will help me a lot!

[2018-04-21 08:48] johnnymast commented on #76
isnt this this same issue as i issued before? i gave you a 1000 word explaination how to fix it but nothing gets fixed. I think i will just fork the project and release a better version my self.. With your credits ofcource.

[2018-04-21 09:15] johnnymast commented on #76
@albertcht im sorry for my tone. I didnt realize it was a bit harsh for that im sorry,

[2018-04-30 05:58] ctf0 commented on #67
@eduarguzher and for everyone else after the same issue, u actually dont need this package, here is a good tutorial https://itnext.io/how-to-use-google-recaptcha-with-vuejs-7756244400da

basically all the recaptcha check is done client side so no need for the server side check

[2018-05-03 02:21] marcelogarbin opened #81 "How to use multi-forms"
Hi,
I've seen your multi-form branch, but I'd like to know how to use it correctly.
I have 1 form that always appears in the footer of the website (newsletter), and sometimes the contact form appears on other pages.

In that case, how do I call the recaptcha?
Can I use "@captcha()" in each form, or should I encode JS for face form?

[2018-05-03 18:10] marcelogarbin commented on #45
@PhPPgAdminBug Were you able to use multiple forms with this package?

[2018-05-03 18:11] marcelogarbin commented on #34
@martinsce @mikeymatteo Were you able to use multiple forms with this package?

[2018-05-03 19:47] marcelogarbin commented on #61
@babalubas090 Were you able to use multiple forms on the same page?

[2018-05-03 20:11] marcelogarbin commented on #81
I'm having this error after installing the "multi-forms" branch:

![image](https://user-images.githubusercontent.com/9335588/39600280-9eabda1c-4ef4-11e8-97a3-3ede54c634e7.png)

The error appears in this script
[code]

[2018-05-03 20:11] marcelogarbin commented on #81
@albertcht Would you help me?

[2018-05-04 01:52] albertcht commented on #81
Hi @marcelogarbin ,

It looks like you didn't require jquery before calling `@captcha()`, did you?

[2018-05-04 12:04] marcelogarbin commented on #81
Hi @albertcht , first thank you for your feedback.
That's right, I usually use the webpack to join all the JS and put it at the end of the tag body.
As it was at the end I did not pay attention to that. I put it in the beginning of the body and it worked.

But I am still in doubt about the operation.
I have 2 forms, 1 contact and 1 newsletter. One is in the center of the body, another in the foote

[2018-05-15 01:43] albertcht commented on #81
Hi @marcelogarbin ,

Sorry for the late response, I'm currently busy working on another project. I will reply to you in few days.

[2018-05-15 22:54] alariva commented on #56
Be aware that captcha error is silent if validation messages are not printed.

[code]
So maybe is just the captcha check what is failing, possibly due to bad site/secret key.
It happened to me (as silly as it seems) that before copy-paste my double-click selection excluded the very last character (for example a `-` symbol), and it can pass unnoticed. Make sure you are performing tests with the ver

[2018-05-24 13:54] albertcht commented on #81
Hi @marcelogarbin ,

`g-recaptcha-response` token should be taken to your request.  Can you listen the `captcha` event and dump your recaptcha token?

[code]

[2018-05-30 09:55] Rayzen-dev opened #84 "Missing required parameters: sitekey"
- Framework: Laravel 5.6

Hi, I've this error in my console, but... In my .env files I pasted this code:

`INVISIBLE_RECAPTCHA_SITEKEY=_myKey_
INVISIBLE_RECAPTCHA_SECRETKEY=_myOtherKey_`

When I see the source code, I have this:

`<div class="g-recaptcha" data-sitekey="" data-size="invisible" data-callback="_submitForm" data-badge="bottomright">`

So... The key doesn't pass anywhere and I think th

[2018-05-30 12:31] Rayzen-dev commented on #84
Solved, cache bugs.

[2018-06-08 17:30] timgavin opened #85 "Content Security Policy directive"
Began receiving the following error message in my console in Safari 11.1

[code]

[2018-06-12 16:05] ColinTravis commented on #76
Just wanted to add to this thread that the fix in the commit fixed the same issue for me as well. Any way to ensure the fix is in place? When I deploy composer re-downloads my packages.

[2018-06-12 18:17] ColinTravis opened #86 ""g-recaptcha-response field is required" - Field is empty"
Hello, I'm on the newest commit currently of this package. I can see the captcha badge, and my _submitForm/_captchaForm/_captchaSubmit all bind properly. However, every time I submit my form it doesn't also submit the g-recaptcha-response field, causing validation to fail.

I've tried moving the captcha render around within the form, to see if it was an issue with where it loaded, as well as tried

[2018-06-18 14:46] albertcht commented on #86
Hi @ColinTravis ,

Can you try to upgrade your package to release `v1.8.3` to see if this issue still exists?

[2018-06-18 14:47] albertcht commented on #76
That commit has been released in `v1.8.3`

[2018-06-18 14:47] #76 closed

[2018-06-18 14:47] #84 closed

[2018-06-18 15:08] albertcht commented on #85
It looks like it's related to: https://github.com/google/recaptcha/issues/107

[2018-06-18 15:36] ColinTravis commented on #86
Just fully updated, issue still persists. I've read around that with captcha, sometimes it's position within a form can prevent it from functioning, so I moved it around again to see if that fixed it. I think is should be fine where it is now (right before the form ends, and still within the input groups)

[code]

[2018-06-18 15:46] albertcht commented on #86
The `@captcha` directive should be placed within a form element. So does it work now?

[2018-06-18 16:04] ColinTravis commented on #86
No, it still doesn't validate, as the g-captcha field still ends up being blank when it submits.

[2018-06-18 16:22] albertcht commented on #86
Can you please try to reproduce your issue on codepen? Like what I did here: https://codepen.io/albertcht/pen/MXraNr, that would be easier to debug. I only need your html redered by your frontend code.

[2018-07-11 01:55] elijahpaul commented on #64
I'm still seeing the reCaptcha fire even with an invalid form!
![invisible_recaptcha_jquery_validation_laravel](https://user-images.githubusercontent.com/478088/42546481-74ad71ca-84b5-11e8-9223-6378d309f14d.gif)
What am I doing wrong? Where does the `_submitEvent` go?
[code]

[2018-07-11 02:03] elijahpaul opened #87 "Can't figure out how to use with jQuery validation."
In Laravel (5.6) I'm seeing the reCaptcha fire even with an invalid form!

![invisible_recaptcha_jquery_validation_laravel](https://user-images.githubusercontent.com/478088/42546481-74ad71ca-84b5-11e8-9223-6378d309f14d.gif)

The form isn't actually submitted, but shouldn't it pass jQuery validation first, then fire the captcha?

I've read https://github.com/albertcht/invisible-recaptcha/issues/38#

[2018-07-15 19:08] elijahpaul commented on #87
Fixed! Had a brace in the wrong place.
[code]
![invisible_recaptcha_jquery_validation_laravel_fixed](https://user-images.githubusercontent.com/478088/42737407-b3e95c24-886a-11e8-9fb6-bf2e4373d4ed.gif)

[2018-07-15 19:08] #87 closed

[2018-07-18 14:06] Haizone opened #88 "didnt work on laravel 5.6 witout jQ"
hi
 i try to work with that
but i get:
  "_token" => "ix6r4g9swppKvj3akHiQ0vmXKMTm20bmDf21iVeu"
  "title" => null
  "option" => "כללי"
  "content" => null
  "phone" => null
  "g-recaptcha-response" => null
]

what i can do?
i put all the stuff and in the
$this->validate
but its didnt work and i get null

i didnt use JQ becuse i use vue.js and its didnt work togther

but in this page i didnt have a

[2018-07-21 06:54] albertcht commented on #88
Hi @Haizone ,

Can you provide more detailed information about your issue? For example, your frontend(blade) code or any console message.

And this package doesn't support Vue.js.

[2018-08-23 07:54] phpspider opened #91 "Form not submitted"
I've implemented this but my form is not submitted. Button type is submit.
In console I am getting error "uncaught exception: null"

The above is happening when I am clicking on Verify button in the captcha images.

[2018-08-25 09:04] albertcht commented on #91
Can you please try to reproduce your issue on codepen? Like what I did here: https://codepen.io/albertcht/pen/MXraNr, that would be easier to debug. I only need your html redered by your frontend code.

[2018-08-27 06:59] eric2100 opened #92 "是否考慮加入reCAPTCHA v3支援"
請問是否考慮加入reCAPTCHA v3支援呢?

[2018-08-31 08:47] phpspider commented on #91
It's working in codepen.

[2018-09-04 07:10] phpspider commented on #91
Following issue I am facing with my code.

recaptcha__en.js:251 Uncaught (in promise) null
hp @ recaptcha__en.js:251
(anonymous) @ recaptcha__en.js:249
nf @ recaptcha__en.js:71
jf @ recaptcha__en.js:71
b @ recaptcha__en.js:68

[2018-09-04 14:39] albertcht commented on #91
Can you reproduce your error on codepen? Otherwise I don't have any clues about your issue.

[2018-09-04 15:10] bbashy opened #93 "Can you tag a new release for 5.7?"
Thanks for the great work.

[2018-09-04 15:18] albertcht commented on #93
Thanks for your reminding, I've released `v1.8.4`.

[2018-09-04 15:38] jastend commented on #93
Just wanted to say thank you! I was wondering why I couldn't update.

[2018-09-04 15:56] albertcht commented on #93
Hi @jastend ,

What do you mean `couldn't update`? Is there any error message?

[2018-09-04 15:57] bbashy commented on #93
@albertcht Think they meant, they wondered why they couldn't update before this new release.

[2018-09-04 16:03] jastend commented on #93
Correct. It was just a thank you for the quick update. Everything works like a charm now.

[2018-09-04 16:06] albertcht commented on #93
Ok, I got it, no problem :)

[2018-09-05 08:08] phpspider commented on #91
It's resolved now. I was not adding the id and name to my submit button.

[2018-09-05 08:08] #91 closed

[2018-09-07 14:17] JamesPoel opened #94 "Uncaught Error: Missing required parameters: sitekey"
Console error:

Uncaught Error: Missing required parameters: sitekey
    at new es (recaptcha__en.js:402)
    at new ys (recaptcha__en.js:408)
    at Ks (recaptcha__en.js:416)
    at recaptcha__en.js:416
    at Array.forEach (<anonymous>)
    at Ls (recaptcha__en.js:416)
    at vs (recaptcha__en.js:421)
    at ws (recaptcha__en.js:408)
    at recaptcha__en.js:423
    at recaptcha__en.js:431

My IN

[2018-09-10 07:46] ludo237 opened #95 "[HELP] Cannot test a form with ReCaptcha using Laravel Dusk"
Hello.

I would like to say thank you for this amazing package, it's really useful in every aspect. That being said, I've a small problem testing an invisible ReCaptcha on a form using Laravel Dusk.

I've this method inside `CreatesApplication.php` file in `/tests`

[code]

This works quiet well for Features test, because I only need to hit APIs and I can ignore the `g-recaptcha-response` input fr

[2018-09-16 14:45] albertcht commented on #95
Hi @ludo237 ,

Because `g-recaptcha-response` is taken from Google's recaptcha response, I think you don't need to test that input field in Laravel Dusk.

[2018-09-17 12:38] ludo237 commented on #95
@albertcht that makes sense but the test will still fail even without the `assertPresent()` method.

The blade page is a simple form with `@captcha` directive on it.

[2018-10-01 01:38] marcelogarbin opened #96 "Uncaught TypeError: Cannot read property 'postMessageId' of null"
I'm having this problem: `Uncaught TypeError: Cannot read property 'postMessageId' of null`

![image](https://user-images.githubusercontent.com/9335588/46265923-74cc8600-c501-11e8-8807-8e3a836150bc.png)

What can it be?

If I remove the captcha from the form, no error is returned.

[2018-10-01 01:53] marcelogarbin commented on #96
my fault.

I discovered that an extension was affecting the recaptcha or form in that case.

I deactivated and did not show any more errors.

This is the extension I deactivated.
![image](https://user-images.githubusercontent.com/9335588/46266174-9cbce900-c503-11e8-8dda-8bca692f7fba.png)

[2018-10-01 01:53] #96 closed

[2018-10-01 22:21] mgsmus opened #97 "Always fails"
Hello

I've checked everything. It was working till yesterday and I don't know what happened but it stopped working. I've added both my production and local test domain to recaptcha panel. It was also working in local but it also stopped working. I get validation.captcha error. It even shows some photos and asks me "Select traffic lights" after clearing cache, still gives me validation error even

[2018-10-02 13:37] mgsmus commented on #97
Hi,

Thanks for the reply.

I couldn't find a solution so I decided to remove. It seems reCAPTCHA has some problems even at the easiest level. I was using it on a pre-registration form and don't want to prevent users to register. I'll stick to an SMS-approved solution.

I'm closing the issue because it's not related to the package.

[2018-10-02 13:37] #97 closed

[2018-10-19 10:40] Shujee opened #98 "5.7.* support in multi-forms"
Can you please add 5.7.* support in multi-forms branch?

[2018-10-21 04:57] Shujee commented on #98
And also update this in packagist?

[2018-10-21 08:50] albertcht commented on #98
Hi @Shujee ,

Sure, as you wish.

[2018-10-22 05:56] Shujee commented on #98
Thanks a ton.

[2018-10-24 16:54] Shujee commented on #98
Don't know why, but this is not working for me. I have got two modal dialogs on my page, each one having its own captcha. Both connect to the server through ajax.
I'm currently working with only one of the modals. Captcha appears to connect to Google servers and receives 200 OK, but somehow **g-recaptcha-response** field doesn't get set, which results in failed validation on my server.
I have also

[2018-10-24 17:51] Shujee commented on #98
My initial debugging suggests that it is **_renderedTimes** variable that hasn't been dealt with correctly. Google's response goes into the wrong response div; and that too doesn't contain the actual code. Can you please when you get a chance?

[2018-10-24 18:11] Shujee commented on #98
This might be of some value:
https://stackoverflow.com/questions/30685443/google-recaptcha-not-posting-g-recaptcha-response

[2018-10-25 18:12] Shujee commented on #98
Ignore my previous comments. I think I have managed to make it work. Thanks.

[2018-11-06 03:14] Neokyuubi opened #100 "verifyRequest is always returning false"
Hello,

Can i use InvisibleReCaptcha::verifyRequest as an Extra step of Checking ?

And of course this works just fine.
[code]
i was just wondering if verifyRequest can be helpful if i want to check that the gCaptcha is coming from one of the domains that i filled when registering the keys for the invisible captcha.
I

I'm using Laravel 5.5, but InvisibleReCaptcha::verifyRequest(\request) in my co

[2018-12-12 11:45] jimmerioles commented on #94
I am also experiencing this issue, only happens in staging not in local.

[2018-12-16 12:58] bhushangaykawad commented on #94
i am also getting same issue

[2018-12-16 13:35] #95 closed

[2018-12-16 13:37] albertcht commented on #94
Which version of Laravel are you using?

[2018-12-16 13:38] #98 closed

[2018-12-16 13:42] albertcht commented on #100
You may need to collect other info by yourself because it only calls google's api return the response for you.

[2018-12-16 14:42] bhushangaykawad commented on #94
Laravel 5.7

[2018-12-16 14:43] bhushangaykawad commented on #94
I hv figured it out.. but getting uncaught promise null error.. cant able to submit form at all..

[2018-12-16 16:04] albertcht commented on #94
I can't figure it out until you give more specific description or example code.

[2018-12-16 16:14] bhushangaykawad commented on #94
I did whatever things are in documentation.. but could not be able to send form data.. when i checked console . It had uncaught promise null error

[2019-01-08 18:58] elijahpaul opened #102 "(Re)Load @captcha directive in form via AJAX"
Any idea how I'd go about using this package in a form that is loaded/refreshed via AJAX?

I'm currently refreshing an existing form in place via jQuery `.load()`?

**register.blade.php**
[code]
**AJAX that reloads the above form**
[code]
but the scripts in the rendered `@captcha` directive don't reload/execute.

[2019-01-09 16:51] #100 closed

[2019-01-26 09:33] albertcht commented on #94
Unable to reproduce on a fresh new Laravel 5.7. See https://github.com/albertcht/invisible-recaptcha-example

BTW, are you using this package in a Vue.js project. This package doesn't support Vue.js. This issue will be closed shortly if there's still no reproducible details.

[2019-02-10 12:53] #94 closed

[2019-02-10 12:53] #81 closed

[2019-02-23 18:42] nam-co opened #103 "Has any one used this with 1000hz-bootstrap-validator?"
Hi, has anybody used this with 1000hz-bootstrap-validator ?? it shows the badge, but I'm unable the submit button doesn't work

just to make sure I'm using @captcha('en') inside the form
and @captchaScripts('en') on the bottom

Appreciate any help

[2019-02-23 18:45] nam-co commented on #103
I just tried without the validation package and is still not working

[2019-02-27 10:58] michaloravec opened #104 "Update for Laravel 5.8"
Please update for Laravel 5.8.

I think it's only necessary to change it in composer.json

[2019-02-27 12:36] sumityadav commented on #104
Pull request #105 created.

[2019-03-01 12:48] asivaneswaran commented on #104
Is it possible for someone to merge it? It's blocking my update process on my app...

[2019-03-01 13:40] albertcht commented on #104
Done.

[2019-03-01 13:40] #104 closed

[2019-03-12 16:12] MrFallen opened #106 "Doesn't works with my Laravel Auth :("
Controller:
![image](https://user-images.githubusercontent.com/5339386/54216462-6a44fc80-4535-11e9-89f6-efc5762b572f.png)
View:
![image](https://user-images.githubusercontent.com/5339386/54216493-79c44580-4535-11e9-8540-b52dbf3d5da4.png)

After clicking the Registration button, nothing happens.

Who can help me? :(

[2019-03-15 17:33] aFluxx commented on #106
There's probably an error somewhere;

Try to display messages and you'll probably learn what is happening. You could try to print something like this on the page:

[code]

[2019-03-18 16:20] aFluxx opened #107 "INVISIBLE_RECAPTCHA_BADGEHIDE=true squaks a bit with Vue"
Hello there,

I have split up `@captchaHTML `&` @captchaScripts` so that Laravel + Vue doesn't throw any errors.
But the problem arises again if you set `INVISIBLE_RECAPTCHA_BADGEHIDE` to true.

This implements the following code in the template:
`<style>.grecaptcha-badge{display:none;!important}</style>`

Any chance we can render this out of the template (maybe with a blade directive in the heade

[2019-03-20 17:28] mahmudtopu3 opened #108 "Invislbe captcha is asking to select pictures to proceed"
I've applied everything but still invisible captcha is asking to select desired pictures to proceed .Why invisible repcaptcha isn't really invisible ?

[2019-03-24 15:48] albertcht commented on #107
Hi @aFluxx ,
Hi @aFluxx ,

I think the best way to hide the badge in vue is to turn `INVISIBLE_RECAPTCHA_BADGEHIDE` off. And apply `<style>.grecaptcha-badge{display:none;!important}</style>` in your vue files.

[2019-03-24 15:51] albertcht commented on #108
Hi @mahmudtopu3 ,

Pictures validation is triggered by google if there's suspicious activity. You can set the security preference in your recaptcha console.

[2019-03-24 15:51] #108 closed

[2019-04-04 18:45] hocklai8 opened #109 "Undefined variable: lang"
Using @captchaPolyfill gives this undefined variable: lang

I believe there's a bug in InvinsibleReCaptchaServiceProvider addBladeDirective() Line 78 missing a $lang parameter
[code]

[2019-04-26 19:50] sandeepmanvar opened #110 "If mews/captcha package is installed in laravel project, It is not working."
I was using this package but I also need the simple captcha, So I have installed the [mews/captcha](https://packagist.org/packages/mews/captcha) package via composer. Once I installed it `@captcha` is going to search render() in [mews/captcha](https://packagist.org/packages/mews/captcha) class.

I am working with Laravel 5.8

[2019-04-28 03:45] #110 closed

[2019-06-13 12:25] albertcht commented on #109
@hocklai8 ,

Thanks for your report, I've fixed it in the release `v1.9.2`.

[2019-06-27 16:04] mclapa opened #111 "Opening port for connection to recaptcha"
The curl call to recaptcha is having trouble connecting unless I allow all UDP outgoing ports

Is there a suggested list / range ?

[2019-06-27 16:19] #111 closed

[2019-07-03 07:18] yashweb3 opened #112 "g-recaptcha-response is every time empty"
var datastring = $('#contactform').serialize();

g-recaptcha-response is getting every time empty.

![image](https://user-images.githubusercontent.com/48712509/60571078-80025a00-9d90-11e9-994f-a5360e4a8bc1.png)

let me know if you have any solution for that.

backend side it field is required so it gives me validation error.
![image](https://user-images.githubusercontent.com/48712509/60571255-dec7

[2019-07-04 16:18] #109 closed

[2019-07-04 16:18] #107 closed

[2019-07-04 16:18] #106 closed

[2019-07-12 11:50] kiwo12345 opened #113 "How to use _beforeSubmit with Vue.JS"
In order for me to prevent the form from being posted before validated I have to use the `_beforeSubmit()` function.

But how can I implement it in Vue.js? I am using the vee-validate lib for validating but I am now sure how I should use beforeSubmit with it.

[code]
Works fine in a vanilla js file, but how should I implement it in my vue.js file?

[code]

[2019-09-03 16:47] marcelogarbin opened #114 "Laravel 6 LTS Support"
Hello,

Today Laravel 6 LTS was released, will it be supported/updated for this version?

Thank you

[2019-09-05 12:49] marcelogarbin commented on #114
@albertcht could you check that out? thank you

[2019-09-05 17:22] #114 closed

[2019-09-07 11:48] Sarfroz opened #117 "guzzlehttp error"
hi getting the following error:
**Fix CURL (51) SSL error: no alternative certificate subject name matches**
if we disable checking recaptcha the login/register works fine but if we enable it again it creates the same SSL error.

[2019-11-04 14:53] marcelogarbin opened #119 "Laravel 6 - Balde Display reCAPTCHA @captcha"
Hello, I believe the @captcha directive in blade views is not working in Laravel version: v6.4.1;

Could anyone confirm?

Another question, Is it possible to disable recaptcha temporarily by .env?

[2019-11-08 09:30] fede91it opened #120 "Validation always fails"
The validation of the captcha is never successful, although the parameter g-response-recaptcha is correctly passed to the server and that, from Google console, the captcha controls are exceeded.

The only case where validation is successful is by using the test keys provided by Google:

INVISIBLE_RECAPTCHA_SITEKEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
INVISIBLE_RECAPTCHA_SECRETKEY=6LeIxAcTAAAAA

[2019-11-08 10:37] marcelogarbin commented on #119
It is working, if it does not appear, try to clear the view.

[2019-11-08 10:37] #119 closed

[2019-11-18 09:49] fede91it commented on #120
Any news here?

[2019-11-26 18:38] MichaelBelgium commented on #120
Same here, Added `@captcha` in my login and register form due having bots registering on my website and its not working anymore, sometimes getting a javascript alert saying `Cannot contact reCAPTCHA. Check your connection and try again`. Logged in into admin console of recaptcha and theres **NO data** after 19 november.

Is this a google issue maybe? 🤔

[2019-11-28 16:26] marcelogarbin commented on #33
@albertcht one question i'm facing, does the "_submitEvent" function only work with ajax?

[2019-12-04 10:40] ConsciousState commented on #15
That is not true.
Services like DeathByCaptcha, 2captcha etc requires a sitekey to complete a recaptcha for you and automating recaptcha protected sites...

[2019-12-04 11:24] f-liva commented on #120
Is there any new news here? Can I help you in any way?

[2020-02-26 17:37] BulgarianHealer opened #122 "Laravel 7"
Hello, when are you gonna add laravel 7 support?

[2020-03-03 20:15] zgelici commented on #122
Hi, yes when we can use it?

[2020-03-07 08:00] PIPONCHOV commented on #122
Please merge this!

[2020-03-07 09:21] zgelici commented on #122
I did it my self, fork it and change it and changed my composer.

[2020-03-12 12:27] it-can commented on #122
@albertcht can you merge this?

[2020-03-18 15:46] #122 closed

[2020-03-24 03:18] idoenk opened #126 "Patch, required due to missing g-recaptcha-response"
**This patch is work-around in form using ajax.**

##### Patch applied on: [InvisibleReCaptcha.php::renderFooterJS#L131](https://github.com/albertcht/invisible-recaptcha/blob/master/src/InvisibleReCaptcha.php#L131)

[code]
Notes:
`grecaptcha.execute().then(function(token){_submitForm(token)});`

By using promise, token value of `g-recaptcha-response` will be returned after callback `then`, then ex

[2020-05-07 06:30] fklee opened #128 "Possible error when g-recaptcha code is not sent"
Hello,

Just get an Javascript issue which could prevent to send the code when submitting the form. Hope it could help someone.

I had the kind of JS code to prevent doubleclick on forms :
`
$("form submit,form .submit,form button[type='submit']").on("click",function(){
        if(!$(this).hasClass("confirm")){
            $(this).attr('disabled','disabled');
            $(this).closest("form").su

[2020-05-16 19:01] #126 closed

[2020-06-19 03:51] AbingLeopoldo opened #129 "How to apply this on VueJs?"

[2020-07-06 20:45] mrmmg opened #130 "How to validate with Auth::attempt"
Hi
I'm using Auth::attempt to logged-in user in my laravel system. see image below:

![image](https://user-images.githubusercontent.com/30490118/86639728-a2a40000-bfee-11ea-8637-7dcaccc44bcf.png)

The if condition always false and I cannot login to my website... any solution?

[2020-07-06 20:58] mrmmg commented on #130
Is [this comment](https://github.com/albertcht/invisible-recaptcha/issues/56#issuecomment-353783639) is okay and best way to solve this problem?

Dump the $request and check if g-recaptcha-response is filled then the captcha is working...? hmmm?

[2020-07-14 07:13] bsh opened #131 "Proxy support"
Please add proxy support.

[code]

[2020-08-19 09:19] rameshna2004 commented on #15
Is there any other way to hide site key?

[2020-08-30 14:40] mrmmg opened #134 "form dosen't submit in laravel"
Hi
My Form Does not submit in laravel and in Console this error appears: `Uncaught (in promise) null`.

If I remove `@captcha('en')` from blade template the problem solved and form submit successfully.

Do you have any solution?

[2020-08-30 14:55] zhanang19 commented on #134
Can you provide more detail? I think it can be a simple script about that. Cause I can't replicate the issue in my side.

[2020-08-30 15:12] mrmmg commented on #134
@zhanang19 detail like what? can you expain a liitle bit more?

[2020-08-30 15:26] mrmmg commented on #134
@zhanang19

**My form (blade template) is:**

[code]
And that's it. no more information!

[2020-08-30 16:09] mrmmg commented on #134
@zhanang19 sorry for my comments
the debug in console return this error:

![image](https://user-images.githubusercontent.com/30490118/91663898-d2f4b000-eb00-11ea-89f6-b65408fe3cb9.png)

[2020-09-08 19:07] ivanmunozruiz opened #137 "will be possible upgrade to guzzle 7?"
Im trying to upgrade my laravel version to 8.0, but it need guzzle 7 but this package need guzzle 6
are there plans to upgrade this package?
thanks

[2020-09-08 19:52] Kaishiyoku opened #138 "Add support for Laravel 8"
Laravel 8 was released today (https://packagist.org/packages/laravel/framework#v8.0.0)

[2020-09-10 03:38] abdosaeedelhassan commented on #137
Yes, guzzlehttp/guzzle need upgrade please, thank you

[2020-09-11 14:19] paulocastellano commented on #138
Waiting for that :)

[2020-09-12 22:31] JWardee commented on #134
Just had this exact issue and it turns out it was because my localhost domain wasn't an allowed domain. Make sure you can see the badge by setting `INVISIBLE_RECAPTCHA_BADGEHIDE=true` in your `.env`. Once I added my domain it works fine - hope this helps!

[2020-09-15 07:25] rickmills commented on #138
https://github.com/albertcht/invisible-recaptcha/pull/136#pullrequestreview-488397069

Tested and ready to merge

[2020-10-11 19:37] pjebs commented on #138
@albertcht can we merge this?

[2020-10-14 15:27] azrahn commented on #138
Looks like this package isn't maintained anymore.
But its luckily very easy to make your own with Laravel view components.

[2020-10-15 21:53] PeraMika opened #140 "Cannot be installed on the latest Laravel 6 [LTS] (because of guzzlehttp/guzzle)"
This package cannot be installed on latest version of Laravel 6 LTS (**v6.18.43**). I think it's because the latest Laravel 6 moved to `guzzlehttp/guzzle` **v7.2.0** (and this package still doesn't support that).

[code]

[2020-10-24 23:09] Safeer-Abbas commented on #15
lol i need to find the site key on a site that hid the site key >.>

[2020-10-25 00:48] Safeer-Abbas commented on #15
and i found it :>

[2020-11-11 20:00] tipsclick commented on #129
i am looking for same answer

[2020-11-23 12:12] michaloravec commented on #138
@albertcht Could you merge #136 It's just a few seconds for you.

[2020-11-23 12:23] rickmills commented on #138
@albertcht appears to have abandoned the project sadly so I doubt this'll be merged. Several prominent projects that relied on it have now moved to alternatives so that might be the best course of action.

[2020-11-23 12:28] michaloravec commented on #138
@rickmills Could you post some alternatives for that?

[2020-11-23 12:49] azrahn commented on #138
If you want you can just fork the repository and merge yourself.

[2020-11-23 14:27] rutgergrasgroen commented on #138
Im also curious about the other alternatives. @rickmills

[2020-11-23 14:36] rickmills commented on #138
This was the most popular one: https://github.com/anhskohbo/no-captcha

[2020-12-02 12:48] simeonbugarija opened #141 "Replace display:none with visibility: hidden"
According to Google's frequently asked questions related to hiding the badge, it should be done using the following styles:

`.grecaptcha-badge { visibility: hidden; }`

https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed

On stackoverflow there is an answer that is warning that the "display: none;" appears to disable the spam checking

https://sta

[2021-01-15 20:34] realanmup opened #143 "Upgrading from 7 to 8 failed"
While upgrading to laravel 8 i got stuck on due to this package, i removed and tried it works.

[2021-01-15 20:35] realanmup commented on #143
https://github.com/albertcht/invisible-recaptcha/pull/142

[2021-01-26 14:11] walidbagh commented on #143
@realanmup

@albertcht appears to have abandoned the project sadly so I doubt this'll be merged. Several prominent projects that relied on it have now moved to alternatives so that might be the best course of action.

_Originally posted by @rickmills in https://github.com/albertcht/invisible-recaptcha/issues/138#issuecomment-732129844_

[2021-03-07 08:48] warmwhisky opened #146 "Setting to captcha false not working"
Since I renewed my local ssl certificate I can no longer access the login page. it throws
`Too few arguments to function AlbertCht\InvisibleReCaptcha\InvisibleReCaptchaServiceProvider::AlbertCht\InvisibleReCaptcha\{closure}(), 1 passed and exactly 2 expected`

Disabling captcha on login does not work from both ENV and config.access.
I do not cache my config or route in local.

Restarting Apache no

[2021-03-24 20:08] pixelzdesign opened #147 "Laravel 6 - Error with 1.9.5. version"
When update package from 1.9.4. to 1.9.5. in Laravel 6 I got error:

[code]
This part of the code is making an error (in new version is added $nonce):
[code]

[2021-04-10 14:25] albertcht commented on #147
Hi @pixelzdesign ,

It's been fixed in release `v1.9.5`

[2021-04-10 14:25] albertcht commented on #146
Hi @warmwhisky  ,

It's been fixed in release `v1.9.5`

[2021-04-10 14:26] #143 closed

[2021-04-10 14:26] #138 closed

[2021-04-10 14:26] #137 closed

[2021-04-10 14:27] #146 closed

[2021-04-10 14:27] #117 closed

[2021-04-10 14:31] albertcht commented on #131
You can replace guzzle client in your service provider by:

[code]

[2021-04-10 14:31] #134 closed

[2021-04-10 14:32] albertcht commented on #140
Now

[2021-04-10 14:32] #140 closed

[2021-04-10 14:32] #147 closed

[2021-05-28 09:18] karmendra opened #148 "Enable disable Submit button"
The issue I am facing is before the recaptcha is loaded on a page, user is clicking Submit button and then it returns with error from Controller validation that captcha field is required. this happens when the users internet is slow.

have the submit button disabled when the page loads and want to enable it after recaptcha is loaded and verified
I an unable to find the right event hook to enable t

[2021-06-18 19:08] srakl opened #149 "rray_key_exists() expects parameter 2 to be array"
I followed the[ tutorial here](https://programmingfields.com/how-to-implement-captcha-in-laravel-8/) to set it up, but im getting the error below, any idea why? Thanks

[code]

[2021-06-22 08:11] palszalmasi commented on #149
Hi @srakl ,  for me, a config:clear worked

[2021-07-01 10:47] desthercz opened #151 "Conflict with VueJS"
Hi, i saw you added some optimizations which works pretty, but i found a minor bug.

Follow these steps in Laravel app with VueJS
1) Implement recaptcha with your VueJS guidelines (polyfill part to <head>, html in <form> and script part placed outside of Vue wrapper element)
2) DISABLE recaptcha badge in config

Now just load page and you can see that Vue framework throw and error that you have <s

[2021-07-16 09:04] lloydtawanda commented on #15
The sitekey is meat to be public

[2021-09-20 13:17] #131 closed

[2021-10-03 14:32] NagliNagli opened #153 "CWE-79 - Reflected Cross Site scripting vulnerability at /InvisibleRecaptcha.php"
## Hey, I'd like to request you to issue a CVE for this pull request.

## Summary
As I'm doing security research during my bug bounty activities I stumbled upon an issue with a client that uses invisible-recaptcha

specifically speaking, the issue is within the "ac" parameter

As I discovered the vulnerability during my BlackBox approach, I decided to report it in this repo and to see the white bo

[2021-11-05 02:58] herohat commented on #85
I think it is abut this https://github.com/albertcht/invisible-recaptcha/pull/154

[2022-02-16 10:49] DanDvoracek opened #156 "recaptcha sends double reload request"
Hi there,

I've been searching for a while and can't figure out what happens really.

I have a very basic frontend setup with a contact page for which I'd like to use this package.
Everything is fine with the form (method, @csrf, @captcha, etc...) and the data is indeed validated with a custom request class. Validation passes and flash message is sent accordingly. I then save the data in DB, usual

[2022-02-16 12:37] #156 closed, assigned to nobody

[2022-05-09 15:30] handhikadj opened #157 "The g-recaptcha-response field is required"
I see the badge logo on bottom right corner but the validation always fails.
Also got `"g-recaptcha-response": null ` when debug the request using `request()->all()`
I'm using the test key as stated here: https://developers.google.com/recaptcha/docs/faq#id-like-to-run-automated-tests-with-recaptcha.-what-should-i-do

Laravel v6.20.x
albertcht/invisible-recaptcha v1.9.7

[2022-09-12 22:38] timbogdanov opened #158 "Full support for Multi form recaptcha"
Could we add full support for multiple form Recaptcha on this?

In the docs, I've read it saying that most of the time if you need Recaptcha more than once on a single page, you're doing it wrong. That can't be further from the truth.

Explain then how you go around with a login page, that accepts email and password and is validated by Recaptcha, and at the same time, has a button on the side of t